.pagination {
    margin: 15px auto;
    width: 10%;
    display: flex;
    list-style: none;
    outline: none;
    position:relative;
    color:  #f0ad4e;
  }
  .pagination > .active > a{
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: #fff;
    
  }
  .pagination > li > a{
    border: 1px solid #f0ad4e ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color:green ;
    border-color: green;
    color: #fff;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color:  #f0ad4e
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }
  


  #navigation{
  }